<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>案例详情</title>
</head>
<body>
<h1 align="center">案例详情</h1>
<p align="center">
    <button onclick="window.location='/weddingList'">返回</button>
</p>
<table width="100%" border="1" cellspacing="1" cellpadding="0">
    <!--/*@thymesVar id="learnList" type=""*/-->
    <tr>
        <td>婚礼</td>
        <td>风格</td>
        <td>价格</td>
        <td>介绍</td>
        <td>酒店</td>
        <td>图片</td>
        <td>操作</td>
    </tr>
    <tr>
        <td th:text="${wedding.weddingName}"></td>
        <td th:text="${wedding.weddingStyle}"></td>
        <td th:text="${wedding.weddingPrice}"></td>
        <td th:text="${wedding.weddingIntro}"></td>
        <td th:text="${wedding.weddingHotel}"></td>
        <td><img th:src="${wedding.weddingPic}" width="100" height="80"/></td>
        <td>
            <a th:href="@{/updateWedding/__${wedding.weddingId}__}">修改</a>
            <a th:href="@{/delete/__${wedding.weddingId}__}">删除</a>
        </td>
    </tr>
</table>
</body>
</html>